html,
body {
  padding: 0;
  margin: 0;
  background-color: #181818;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.title {
  color: #5CB8E4;
  font-size: 10;
  padding-left: 10px;

}
.white {
  color: antiquewhite;
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: fixed;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

