.h1 {
  color : #8758FF
}

.title {
  padding: 20px;
  margin: 15px;
  text-align: center;
  font-size: 1rem;
  align-self: center;
background: rgba(191, 70, 199, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
border: 1px solid rgb(213, 93, 222);
}
